<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.jxinx.mybatisgenerator.dao.CameraMapper">
  <resultMap id="BaseResultMap" type="com.github.jxinx.mybatisgenerator.entity.Camera">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_sn" jdbcType="CHAR" property="cameraSn" />
    <result column="camera_type_id" jdbcType="INTEGER" property="cameraTypeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_sn, camera_type_id, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera (id, camera_sn, camera_type_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cameraSn,jdbcType=CHAR}, #{cameraTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraSn != null">
        camera_sn,
      </if>
      <if test="cameraTypeId != null">
        camera_type_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraSn != null">
        #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    <set>
      <if test="cameraSn != null">
        camera_sn = #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    set camera_sn = #{cameraSn,jdbcType=CHAR},
      camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.github.jxinx.mybatisgenerator.entity.Camera">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_sn" jdbcType="CHAR" property="cameraSn" />
    <result column="camera_type_id" jdbcType="INTEGER" property="cameraTypeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_sn, camera_type_id, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera (id, camera_sn, camera_type_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cameraSn,jdbcType=CHAR}, #{cameraTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraSn != null">
        camera_sn,
      </if>
      <if test="cameraTypeId != null">
        camera_type_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraSn != null">
        #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    <set>
      <if test="cameraSn != null">
        camera_sn = #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    set camera_sn = #{cameraSn,jdbcType=CHAR},
      camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.github.jxinx.mybatisgenerator.entity.Camera">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_sn" jdbcType="CHAR" property="cameraSn" />
    <result column="camera_type_id" jdbcType="INTEGER" property="cameraTypeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_sn, camera_type_id, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera (id, camera_sn, camera_type_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cameraSn,jdbcType=CHAR}, #{cameraTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraSn != null">
        camera_sn,
      </if>
      <if test="cameraTypeId != null">
        camera_type_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraSn != null">
        #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    <set>
      <if test="cameraSn != null">
        camera_sn = #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    set camera_sn = #{cameraSn,jdbcType=CHAR},
      camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.github.jxinx.mybatisgenerator.entity.Camera">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_sn" jdbcType="CHAR" property="cameraSn" />
    <result column="camera_type_id" jdbcType="INTEGER" property="cameraTypeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_sn, camera_type_id, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera (id, camera_sn, camera_type_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cameraSn,jdbcType=CHAR}, #{cameraTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraSn != null">
        camera_sn,
      </if>
      <if test="cameraTypeId != null">
        camera_type_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraSn != null">
        #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    <set>
      <if test="cameraSn != null">
        camera_sn = #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    set camera_sn = #{cameraSn,jdbcType=CHAR},
      camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.github.jxinx.mybatisgenerator.entity.Camera">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_sn" jdbcType="CHAR" property="cameraSn" />
    <result column="camera_type_id" jdbcType="INTEGER" property="cameraTypeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_sn, camera_type_id, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera (id, camera_sn, camera_type_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cameraSn,jdbcType=CHAR}, #{cameraTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraSn != null">
        camera_sn,
      </if>
      <if test="cameraTypeId != null">
        camera_type_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraSn != null">
        #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    <set>
      <if test="cameraSn != null">
        camera_sn = #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    set camera_sn = #{cameraSn,jdbcType=CHAR},
      camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.github.jxinx.mybatisgenerator.entity.Camera">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="camera_sn" jdbcType="CHAR" property="cameraSn" />
    <result column="camera_type_id" jdbcType="INTEGER" property="cameraTypeId" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, camera_sn, camera_type_id, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from camera
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from camera
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera (id, camera_sn, camera_type_id, 
      status)
    values (#{id,jdbcType=INTEGER}, #{cameraSn,jdbcType=CHAR}, #{cameraTypeId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    insert into camera
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cameraSn != null">
        camera_sn,
      </if>
      <if test="cameraTypeId != null">
        camera_type_id,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cameraSn != null">
        #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    <set>
      <if test="cameraSn != null">
        camera_sn = #{cameraSn,jdbcType=CHAR},
      </if>
      <if test="cameraTypeId != null">
        camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.github.jxinx.mybatisgenerator.entity.Camera">
    update camera
    set camera_sn = #{cameraSn,jdbcType=CHAR},
      camera_type_id = #{cameraTypeId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>